<%- include("partials/header") %>
  <h1>Home</h1>
  <p> <%= startingContent %> </p>

  <% posts.forEach(function(post){ %> <!-- other method would be a basic for loop -->
    <a href="/posts/<%= post.title %>"><h1><%- post.title; %></h1></a>
    <p><%- post.content.substring(0, 100) + " " %><a href="/posts/<%= post.title %>">...</a></p>
  <% }); %>
  
<%- include("partials/footer") %>
